.container {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
  cursor: pointer;
  place-items: left;
  padding: 10px;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
